@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .emojione {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  flex: 0 0 16.66667%;
  transform-style: preserve-3d;
  position: relative;
  display: block;
  perspective: 10px;

  &__back {
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    position: absolute;
    top: 5%; left: 0; right: 0; bottom: 0;
    text-align: center;

    & > svg {
      width: 90%;
      height: 90%;
    }
  }

  img {
    backface-visibility: hidden;
  }
}

.sixteen-nine {
  @include aspect-ratio(16, 9);
}
