
.board {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  flex: 0 0 25%;
  width: 20%;
  height: 20%;
  transform-style: preserve-3d;
  position: relative;
  z-index: 0;
  border: 1px solid red;

  &__front {
    transform: rotateY(-180deg);
  }

  &__back, &__front {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;

    & > svg {
      height: 100%;
      width: 100%;
    }
  }
}
